.App {
  text-align: center;
  font-family: "ubuntu";
}

.login-container {
  background-color: #442587;
  color: #fff;
  width: 100vw;
  height: 100vh;
  padding-top: 10px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.register-link {
  color: #fff;
}

.register-link:hover {
  color: #fdb9ac;
  text-decoration: none;
}

.textfield {
  color: #fff;
}

.not-registered {
  margin-top: 70px;
}

.navbar {
  background: #442587;
  color: #fff;
  font-size: 20px;
  display: flex;
  align-items: center;
  border-bottom: 2px solid #c6c6c6;
}

.posts-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  width: 100%;
  margin-top: 100px;
}

.newEntry {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: 0 auto;
  margin-bottom: 30px;
  background: #dfdbdb;
  border-radius: 0px 0px 10px 10px;
  border-right: 2px solid white;
  border-bottom: 2px solid white;
  border-left: 2px solid white;
  box-shadow: 1px 1px 3px white;
}

.post {
  text-align: left;
  width: 60%;
  margin: 0 auto;
  border: 2px solid white;
  background-color: white;
  margin-bottom: 20px;
  word-wrap: break-word;
  border-radius: 10px;
  box-shadow: 1px 1px 3px white;
}

.post-attribute-line {
  margin-top: 10px;
  margin-bottom: 30px;
  padding: 0px 20px 20px 10px;
  letter-spacing: 0.5px;
  font-family: "ubuntu";
  font-weight: 325;
  font-size: 14px;
}

.post-attribute-date {
  margin-bottom: 0px;
  font-size: 13px;
  font-weight: bold;
}

.homePage {
  background: #f5f5f7;
  height: 100vh;
}

.post-bottom-row {
  display: flex;
  justify-content: space-between;
  margin: 0px 10px;
  margin-bottom: 5px;
}

.icons {
  width: 8%;
  display: flex;
  justify-content: space-between;
}
